<div class="template-form-fields" v-if="template == 'subtitle'">
  <div class="section template-form subtitle">
    <div class="number-labels">
      <span class="number basemap-images" v-on:click="$refs.basemap_images.click()">
        <i>1</i>
        <span v-text="$t('label.upload_basemap_image')"></span>
      </span>
      <span class="number default-text" v-on:click="zenscroll.to($refs.default_text_label); $refs.default_text.focus();">
        <i>2</i>
        <span v-text="$t('label.default_text')"></span>
      </span>
    </div>
    <div class="default-text-field" v-on:click="zenscroll.to($refs.default_text_label); $refs.default_text.focus();">〇〇〇〇〇〇〇〇</div>
    <div class="basemap-images-field"></div>
  </div>
  <div class="form-group">
    <h3 ref="basemap_images_label" v-text="'⓵ ' + $t('label.upload_basemap_image')"></h3>
    <span class="field-message">${$t('message.subtitle_basemap_images')}</span>
    <div class="fileupload-button">
      <input type="file" v-on:change="local_preview($event, 'basemap_images', 'basemap_images', true)" accept="image/*" ref="basemap_images" multiple>
      <button type="button" class="button" v-on:click="$refs.basemap_images.click()">
        <i class="flaticon-upload padding-right"></i>
        ${$t('button.choose_image')}
      </button>
    </div>
    <div class="local-preview multiple large">
      <div v-for="(image, index) in basemap_images">
        <div class="image">
          <img :src="image">
        </div>
        <div class="tool-buttons">
          <cropper :image="image" :viewport_w="320" :viewport_h="240" :output_w="640" :output_h="480" :ratio_changer="true" :default_ratio="'4 : 3'" :class_name="'button'" v-on:update="value => basemap_images.splice(index, 1, value)"></cropper>
          <button type="button" class="button" v-on:click="array_set_first(basemap_images ,image)" v-if="index != 0">
            <i class="make-default"></i>
          </button>
          <button type="button" class="button" v-on:click="basemap_images.splice(index, 1)">
            <i class="flaticon-garbage"></i>
          </button>
        </div>
      </div>
      <div class="add-more" v-on:click="$refs.basemap_images.click()" v-if="basemap_images.length > 0">
        <div class="image">
          <img src="/images/upload-placeholder.jpg" />
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <h3 ref="default_text_label" v-text="'⓶ ' + $t('label.default_text')"></h3>
    <span class="field-message">${$t('message.subtitle_default_text')}</span>
    <textarea v-model="default_text" name="default_text" ref="default_text"></textarea>
  </div>
</div>
