---
permalink: /template/user-links.html
---

<div class="template-wrapper user-links-page">
  <div class="container">
    <div class="section page-header">
      <div class="header-wrapper">
        <h1 v-text="$t('nav.user_links')"></h1>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container two-column" v-if="user">
      <user-side-nav></user-side-nav>
      <div class="main-content" ref="main_content">
        <p v-text="$t('message.user_links_warning')"></p>
        <ul class="link-list">
          <li v-for="item in list" class="list-item" v-if="list.length > 0">
            <div class="image">
              <img :src="w_square(item.image, 80)" />
            </div>
            <div class="link">
              <a :href="item.url" target="_blank" v-text="item.url"></a>
            </div>
            <div class="buttons">
              <button type="button" class="button rounded icon" v-on:click="share_link(item)">
                <i class="flaticon-share"></i>
              </button>
              <button type="button" class="button rounded icon danger" v-on:click="delete_link(item)">
                <i class="flaticon-garbage"></i>
              </button>
            </div>
          </li>
        </ul>
        <div v-if="list.length == 0" class="empty-list">
          <h4 v-text="$t('text.empty_list')"></h4>
        </div>
      </div>
    </div>
  </div>
</div>
