// media setting
$mobile = 320px
$mobile-landscape = 480px
$large-tablet = 880px
$tablet = 740px
$desktop = 980px
$wide = 1300px

// radius
$s-radius = 2px
$m-radius = 4px
$l-radius = 8px

// animation setting
$t-sec = .2s

// color
$color-white = #fefefd
$color-black = #373737
$color-black-light = #7a7a7a
$color-black-dark = #010101
$color-gray = #cccccc
$color-gray-light = #f2f2f2
$color-gray-yellow = #f8f7f3
$color-yellow = #fffa9f
$color-red = #e45300
