@keyframes sk-bouncedelay
  0%, 80%, 100%
    transform scale(0)
  40%
    transform scale(1.0)


@keyframes baker-appear
  0%
    opacity 0
    transform scale(.8)
  100%
    opacity 1
    transform scale(1)


@keyframes baker-foot-move
  0%
    top 0
    left 0
  100%
    top -40px
    left -60px


@keyframes baker-faceplate-1-move
  0%
    top 0
    left 0
  100%
    top -13px
    left 13px


@keyframes baker-faceplate-2-move
  0%
    top 0
    left 0
  100%
    top -26px
    left 25px


@keyframes baker-button-1-move
  0%
    top 0
    left 0
  100%
    top -50px
    left 50px


@keyframes baker-button-2-move
  0%
    top 0
    left 0
  100%
    top -75px
    left 75px


@keyframes baker-screen-move
  0%
    top 0
    left 0
  25%
    top -85px
    left 85px
  99%, 100%
    top -85px
    left 85px


@keyframes baker-screen-on-move
  0%, 50%
    background-image url('/images/baker/screen-on-1.png')
    opacity .95
  10%
    background-image url('/images/baker/screen-on-1.png')
    opacity .75
  16.66%, 66.66%
    background-image url('/images/baker/screen-on-2.png')
    opacity 1
  33.33%, 100%
    background-image url('/images/baker/screen-on-3.png')
    opacity .95


@keyframes baker-control-bar-move
  0%
    top 0
    left 0
  100%
    top -100px
    left 100px


@keyframes baker-control-button-move
  0%
    top 0
    left 0
  50%, 60%
    top -100px
    left 100px
  75%
    top -20px
    left 100px
  85%, 100%
    top -30px
    left 100px


@keyframes baker-card-jump-1
  0%
    top -50px
  40%, 60%
    top 180px
  62%
    top 195px


@keyframes baker-card-jump-2
  0%
    top -90px
  30%, 70%
    top 180px
  72%
    top 195px


@keyframes baker-card-jump-3
  0%
    top -130px
  20%, 80%
    top 180px
  82%
    top 195px
