.color-picker-input
  position relative

  button
    width 100%

  .color-picker
    position absolute
    bottom 100%
    z-index 10000
    &.float-left
      left 0
    &.float-right
      right 0
