.cropper-container
  display inline-block

  .cropper-tools
    display flex
    justify-content center
    align-items center

  .cropper-ratio
    select
      background transparent
      border transparent
      -webkit-appearance none
      color $color-black
      font-size 1.2rem
      cursor pointer
      margin 0

  .cropper-rotate
    margin 0 16px
    .button
      font-size 1.25rem
      padding 8px!important
    .button + .button
      margin-left 4px
