.download-buttons
  display flex
  flex-wrap wrap

  .button
    width calc(50% - 4px)
    margin 0
    &:nth-child(1)
    &:nth-child(2)
      margin-bottom 8px
    &:nth-child(2n)
      margin-left 8px
