.drag-upload-zone
  position fixed
  top 0
  left 0
  width 100vw
  height 100vh
  background rgba(0, 0, 0, .8)
  display none
  z-index 500000

  &.on
    display flex
    justify-content center
    align-items center
    flex-flow column

  i
    color $color-white
    font-size 5rem
    margin-bottom 16px

  span
    display block
    font-size 1.5rem
    line-height 1
    color $color-white

  &:after
    content ''
    display block
    position absolute
    width 300px
    height 300px
    top calc(50% - 150px)
    left calc(50% - 150px)
    border-radius 50%
    border 2px solid $color-white
