.feed-comments
  margin-top 32px

  +below($tablet)
    margin-top 0

  .form
    .buttons
      display flex
      justify-content flex-end
    .form-wrapper
      display flex
      justify-content space-between
      .comment-form
        width 100%
      textarea
        height 100px!important

  .comment-list
    margin-top 16px

  .comment-item
    margin-bottom 16px
    display flex
    justify-content space-between
    .comment-body
      width 100%
      padding 16px
      background $color-gray-yellow
      border-radius $m-radius
      position relative
      &:before
        content ''
        position absolute
        width 12px
        height 12px
        left -6px
        top 16px
        transform rotate(45deg)
        background $color-gray-yellow
      .name
        font-weight bold
      .time
        font-size 80%
      .message
        margin-bottom 0
        span
          display block
          margin-bottom 8px
          &:last-child
            margin-bottom 0

  .avatar
    background-size cover
    .avatar-image
      width 56px
      height 56px
      background-size cover
      border-radius 50%
      margin-right 16px
      +below($tablet)
        width 40px
        height 40px

