.logo
  background-position center
  background-size contain
  background-repeat no-repeat

  &.en
    background-image url('/images/logo/logo-en.png')
    background-image url('/images/logo/logo-en.svg')

  &.ja
    background-image url('/images/logo/logo-ja.png')
    background-image url('/images/logo/logo-ja.svg')

  &.zh_hans
    background-image url('/images/logo/logo-zh_hans.png')
    background-image url('/images/logo/logo-zh_hans.svg')

  &.zh_hant
    background-image url('/images/logo/logo-zh_hant.png')
    background-image url('/images/logo/logo-zh_hant.svg')

  &.square
    background-image url('/images/logo/logo.png')
    background-image url('/images/logo/logo.svg')

