.menuicon
  width 16px
  height 16px
  margin-right 8px
  display inline-block
  vertical-align middle
  background-size cover
  background-repeat no-repeat
  background-position center

  &.large
    width 24px
    height 24px
    margin-bottom 4px

  &.generator
    background-image url('/images/icon/generator.svg')

  &.create
    background-image url('/images/icon/add.svg')

  &.list
    background-image url('/images/icon/list.svg')

  &.official
    background-image url('/images/icon/official.svg')

  &.search
    margin-right 0
    background-image url('/images/icon/search.svg')

  &.link
    background-image url('/images/icon/link.svg')

  &.post
    background-image url('/images/icon/post.svg')

  &.image
    background-image url('/images/icon/image.svg')

  &.member
    background-image url('/images/icon/member.svg')
