.scroll-top
  position fixed
  right 96px
  bottom 18px
  z-index 50000
  width 60px
  height 60px
  line-height 58px
  text-align center
  color $color-white
  background $color-gray
  border-radius 50%
  cursor pointer

  &:hover
    background lighten($color-gray, 20%)
