.sticker-position-container
  overflow hidden
  position relative
  display flex
  justify-content center
  background $color-black

  #basemap_container
    position relative
    background-color $color-white
    background-repeat no-repeat
    line-height 0
    img
      max-width 100%
      max-height 100%
