@font-face
  font-family "Flaticon"
  src url("/fonts/flaticon/Flaticon.eot")
  src url("/fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/fonts/flaticon/Flaticon.woff") format("woff"),
       url("/fonts/flaticon/Flaticon.ttf") format("truetype"),
       url("/fonts/flaticon/Flaticon.svg#flaticon") format("svg")
  font-weight normal
  font-style normal

@media screen and (-webkit-min-device-pixel-ratio:0)
  @font-face
    font-family "flaticon"
    src url("/fonts/flaticon/Flaticon.svg#flaticon") format("svg")

[class^="flaticon-"]
[class*=" flaticon-"]
[class^="flaticon-"]
[class*=" flaticon-"]
  &.padding-left
    padding-left 8px
  &.padding-right
    padding-right 8px
  .button.mini &
    &.padding-left
      padding-left 4px
    &.padding-right
      padding-right 4px

[class^="flaticon-"]:before
[class*=" flaticon-"]:before
[class^="flaticon-"]:after
[class*=" flaticon-"]:after
  font-family Flaticon
  font-style normal

.flaticon-eye:before { content: "\f100"; }
.flaticon-tick:before { content: "\f101"; }
.flaticon-fire:before { content: "\f102"; }
.flaticon-merge:before { content: "\f103"; }
.flaticon-hand:before { content: "\f104"; }
.flaticon-crop:before { content: "\f105"; }
.flaticon-heart:before { content: "\f106"; }
.flaticon-hdr:before { content: "\f107"; }
.flaticon-undo:before { content: "\f108"; }
.flaticon-redo:before { content: "\f109"; }
.flaticon-minimize:before { content: "\f10a"; }
.flaticon-expand:before { content: "\f10b"; }
.flaticon-shuffle:before { content: "\f10c"; }
.flaticon-download:before { content: "\f10d"; }
.flaticon-more-button-of-three-dots:before { content: "\f10e"; }
.flaticon-lightning-electric-energy:before { content: "\f10f"; }
.flaticon-plus-symbol:before { content: "\f110"; }
.flaticon-right-arrow:before { content: "\f111"; }
.flaticon-left-arrow:before { content: "\f112"; }
.flaticon-garbage:before { content: "\f113"; }
.flaticon-magnifying-glass:before { content: "\f114"; }
.flaticon-link:before { content: "\f115"; }
.flaticon-upload:before { content: "\f116"; }
.flaticon-share:before { content: "\f117"; }
.flaticon-house:before { content: "\f118"; }
.flaticon-upload-1:before { content: "\f119"; }
.flaticon-picture:before { content: "\f11a"; }
.flaticon-next:before { content: "\f11b"; }
.flaticon-user:before { content: "\f11c"; }
.flaticon-cancel:before { content: "\f11d"; }
.flaticon-rotate:before { content: "\f11e"; }
.flaticon-rotate-1:before { content: "\f11f"; }
.flaticon-magic-wand-hand-drawn-tool:before { content: "\f120"; }
.flaticon-up-arrow:before { content: "\f121"; }
.flaticon-warning:before { content: "\f122"; }
