---
permalink: /template/generators/official/kangxi-avatar.html
---

<div class="template-wrapper generator-template-wrapper generator-kangxi-avatar">
  <div id="generator_container">
    <div id="generator_preview" ref="generator_preview">
      <div class="preview-area shadow">
        <div class="preview-area-wrapper">
          <div class="loading" v-bind:class="{ 'on': loading_preview }">
            <spinner></spinner>
          </div>
          <img :src="preview_image" />
        </div>
      </div>
      <div id="output_container" :style="{ fontSize: px(text_size), backgroundColor: background_color, color: text_color, textAlign: text_align }" :class="[vertical_text ? 'vertical-text' : '']">
        <div class="text" ref="text" v-html="nl2br(text)"></div>
      </div>
    </div>
    <div id="generator_form">
      <div class="form-input">
        <div class="form-group">
          <h3 v-text="$t('title.content_text')"></h3>
          <textarea ref="text_input" v-model="text_input" v-on:keydown="update_countdown"></textarea>
        </div>
        <div class="form-group">
          <h3 v-text="$t('title.text_size')"></h3>
          <zoom-slider ref="text_size_slider" :min="60" :max="300" :step="10" :default="text_size" @changed="value => text_size = value" v-once></zoom-slider>
        </div>
        <div class="fields-column-2">
          <div class="form-group column">
            <h3 v-text="$t('label.text_color')"></h3>
            <color-picker-input :color="text_color" @update="value => text_color = value"></color-picker-input>
          </div>
          <div class="form-group column">
            <h3 v-text="$t('label.background_color')"></h3>
            <color-picker-input :color="background_color" :float_right="true" @update="value => background_color = value"></color-picker-input>
          </div>
        </div>
        <div class="form-group">
          <h3 v-text="$t('title.text_align')"></h3>
          <label><input type="radio" v-model="text_align" :value="'center'"> ${$t('label.align_center')}</label>&nbsp;
          <label><input type="radio" v-model="text_align" :value="'left'"> ${$t('label.align_left')}</label>&nbsp;
          <label><input type="radio" v-model="text_align" :value="'right'"> ${$t('label.align_right')}</label>
        </div>
        <div class="form-group">
          <h3 v-text="$t('title.vertical_text')"></h3>
          <label class="checkbox-label"><input type="checkbox" v-model="vertical_text"> ${$t('title.vertical_text')}</label>
        </div>
      </div>
      <generator-action-buttons v-on:action="value => generator(value)"></generator-action-buttons>
    </div>
  </div>
</div>
