<div class="section generator-list">
  <div class="container">
    <div v-if="!empty_list">
      <ul class="list" v-show="list.length > 0">
        <li class="list-item" v-for="item in list" :key="item.gid">
          <generator-list-item :config="item" :creator="official ? '' : creator_name_list[item.cid]" :official="official ? true : false"></generator-list-item>
        </li>
      </ul>
      <ul class="list placeholder" v-if="list.length == 0">
        <li class="list-item" v-for="i in 6">
          <generator-list-placeholder></generator-list-placeholder>
        </li>
      </ul>
      <div class="show-more" v-if="!no_more_data && list.length > 0">
        <button type="button" class="button rounded" v-on:click="show_more">
          ${$t('button.show_more')}
          <i class="flaticon-plus-symbol padding-left"></i>
        </button>
      </div>
    </div>
    <div v-if="empty_list">
      <h4 v-text="$t('text.empty_list')"></h4>
    </div>
  </div>
</div>
