h1, h2, h3, h4, h5, h6
  &.headline
    __font('hei')
    font-weight 500
    letter-spacing .1rem
    margin 0 0 32px
    padding 0

  &.center
    text-align center

h1.headline
  font-size 2.8rem
  margin 48px 0

h2.headline
  font-size 2rem
  margin 32px 0

h3.headline
  font-size 1.6rem
  margin 32px 0
