.label
  border 1px solid $color-black
  border-radius $s-radius
  background $color-white
  padding 16px
  word-break break-all
  cursor default‘

  &.small
    padding 2px 6px
    margin 0
    margin-left 2px
    font-size 50%
    line-height 100%

  &.gray
    background $color-gray-light

  &.yellow
    background $color-yellow

  &.black
    background $color-black
    color $color-gray-light
    a
      color $color-white


a.label
  cursor pointer


.label-group
  display flex
  justify-content center
  align-items center
