__font(type)
  if type is 'hei'
    font-family 'Abel', -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, 'PingFang TC', 'Microsoft JhengHei', sans-serif
  else if type is 'noto'
    font-family 'Abel', 'Noto Sans TC', sans-serif
  else if type is 'PMingLiU'
    font-family 'PMingLiU', serif
