.generator-template-wrapper
  background $color-gray-yellow


#generator_container
  overflow hidden
  position relative
  display flex
  align-items stretch
  margin 0 auto
  width auto

  +above($desktop)
    max-height 100vh

  +below($desktop)
    display block

  #generator_preview
    overflow hidden
    flex 2
    display flex
    flex-direction column
    background $color-black
    +below($desktop)
      flex 0
      border-radius 0

  .preview-area
    flex 1
    display flex
    align-items center
    justify-content center
    padding 48px
    position relative
    &.shadow img
      box-shadow 0 5px 15px rgba(0, 0, 0, 0.25)
    +below($desktop)
      flex 0
      padding 8px 48px
      border 1px solid $color-black

  #output_container
    position fixed
    z-index 1999999
    if $output-debug
      top 0
      right 0
    else
      top -1000%
      left -1000%

  #generator_form
    flex 1
    display flex
    flex-direction column
    background-color $color-gray-yellow
    position relative
    max-width 400px
    +below($desktop)
      min-width 50vw
    +below($desktop)
      max-width 100vw
    .form-group:first-child
      h3
        margin-top 8px
    .fields-column-2 h3
      margin-top 16px !important
    .form-input
      flex 1
      overflow-y auto
      padding 16px
      box-shadow inset 0 -10px 30px -25px rgba(0, 0, 0, .3)
      +below($desktop)
        box-shadow none
    .form-action
      min-height 86px
      background-color $color-gray-yellow
      padding 16px
      +below($desktop)
        background $color-white
        border-bottom 1px solid $color-gray-light

  .tool-buttons
    width 100%
    display flex
    min-height 86px
    justify-content space-between
    padding 16px
    background-color lighten($color-black, 5%)
    .button-group
      display flex
      &:last-child
        margin-left 32px
        +below($desktop)
          margin-left 16px
      &:first-child
        margin-left 0
      .button
        margin-right 8px
        &:last-child
          margin-right 0
        +below($desktop)
          &.icon
            font-size 80%
            padding 12px!important

    +below($desktop)
      min-height 40px
      padding 12px


@-moz-document url-prefix()
  #generator_container
    max-height 100%
