.generator-meme
  #generator_preview
    position relative

    +below($tablet)
      display block
      line-height 0

    .preview-area
      +below($tablet)
        display block
        padding 16px
      .preview-area-wrapper
        position relative
        width 100%
        height 100%
        display flex
        justify-content center
        align-items center
      img
        display flex
        max-width 100%
        max-height 100%
        margin auto
        object-fit contain
        box-shadow none
        +below($desktop)
          max-height 40vh
      .loading
        __generator-loading()

  #output_container
    __font(noto)
    line-height 0
    font-weight bold
    background black
    max-width 500px
    text-align center

    .meme-image
      width auto
      max-width 500px
      padding 16px 24px

    .text
      color white
      padding 24px
      text-align center
      color white
      user-select none!important
      cursor default
      font-weight bold
      line-height 1.2
      word-break break-all
      max-width 100%

    .top-text
      padding-bottom 0

    .bottom-text
      padding-top 0
